body{
    background-color: #171717;
    color: #ffffff;
}

.divBox1{
    background-color: #5b8895;
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
