body{
    background-color: #171717;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divBox1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 15px;
    background:#3f5e67;
    border-radius: 5px;
}

.divH1{
    color: #11c7d7;
}

h1{
    margin: 1%;
}
h6{
    margin: 1%;
}
