body{
    background-color: #171717;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divBox1{
    background-color: #5b8895;
    width: 35%;
    height: 150px;
    display: block;
    text-align: center;
}
